$mainFontFamily: 'Titan One', cursive;
$mainTextFontFamily: 'Roboto Condensed', sans-serif;
$mainColor:#911212;
$mainHoverColor:#690d0d;
$mainColorBackround: #d3d3d3;
$speed: 0.9s;
$textColor:rgb(37, 37, 37);
